# IDE Settings
.idea/
*.iml
*.iws
*.ipr

# Java Build Files
out/
target/
bin/
*.class

# Python Virtual Environments & Cache
.venv/
venv/
env/
__pycache__/
*.pyc

# Practice / Scratch file
src/Main.java